pkgbase = linux-aarch64-rockchip-bsp5.10-joshua
	pkgver = 5.10.160.33
	pkgrel = 1
	url = https://github.com/Joshua-Riek
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = dtc
	options = !strip
	source = linux-rockchip-5.10.160-33.tar.gz::https://github.com/Joshua-Riek/linux-rockchip/archive/refs/tags/5.10.160-33.tar.gz
	sha512sums = bcf840caed3083d28940e240cb3c7e0f6dd201d09d502580bb997ba6280f258a6580f03bf5d6fe9716c2976e6055e95157dac4755efbee1b8cc88b94d1cea1dd

pkgname = linux-aarch64-rockchip-bsp5.10-joshua
	pkgdesc = The linux-rockchip-5.10.160-33 kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-rockchip-bsp5.10-joshua-headers
	pkgdesc = Headers and scripts for building modules for the linux-rockchip-5.10.160-33 kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = python
